.personsWrapper {
    background-color: #528CE0;
    border: 2px solid #ffffff;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}