.personWrapper {
    background-color: #cccccc;
    color: #ffffff;
    border: 2px solid #000000;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 50px;
}

.personWrapper div, input, button {
    margin-left: 5%;
    min-height: 50px;
}